* {
  margin: 0 auto;
  padding: 0 auto;
}

body {
  overflow: hidden;
  background-image: url('../photos/bg.png');
  background-size: cover;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.background-img {
  height: 100%;
  width: 100%;
  opacity: .3;
  position: absolute;
  z-index: -100;
}

/* HEADER CONTROLS */

.header {
  height: 10%;
  width: 100%;
  background-color: white;
  border-bottom: 1px grey solid;
  position: absolute;
  z-index: 100;
}

.left {
  margin: 0 auto;
  text-align: left;;
}

.center {
  text-align: center;
}

.logo {
  height: 90px;
  width: auto;
}

.right {
  margin: 0 auto;
  text-align: right;
}

.sign-button {
  text-align: center;
  background-color: #82ca9c;
  border-radius: 8px;
  width: 110px;
  height: 50px;
  display: inline-block;
  border: none;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  color: black;
}

.log-button {
  text-align: center;
  background-color: #636363;
  border-radius: 8px;
  width: 110px;
  height: 50px;
  margin: 16px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  color:white;
  border: none;
}

/* LANDING CONTROLS */

.landing {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.brandstate {
  margin: 0 auto;
  margin-top: 20%;
  text-align: center;
}

.brand-text {
  font-size: 65px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

.better {
  color:#82ca9c;
}

.quote1, .quote2, .quote3 {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.quote1 {
  margin: 25px;
  margin-left: 55px;
  position: relative;
  top: 130px;
}

.quote1-text {
  font-size: 30px;
}

.quote1-name {
  font-size: 32px;
  position: relative;
  right: 100px;
}

.quote2 {
  margin: 25px;
  position: relative;
  top: 190px;
}

.quote2-text {
  font-size: 25px;
}

.quote2-name {
  font-size: 26px;
  position: relative;
  left: 100px;
}

.quote3 {
  margin: 25px;
  position: relative;
  top: 160px;
}

.quote3-text {
  font-size: 25px;
}

.quote3-name {
  font-size: 26px;
  position: relative;
  left: 200px;
}

/* MEDIA QUERIES */

/* phone */
@media screen and (min-width: 300px) and (max-width: 510px) {
  .background-img {
    height: 100%;
    width: 100%;
    opacity: .3;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -100;
  }

  .right {
    margin: 0 auto;
  }

  .sign-button {
    margin: 0 auto;
    text-align: center;
    background-color: #82ca9c;
    border-radius: 8px;
    width: 70px;
    height: 30px;
    display: inline-block;
    margin-top: 25px;
  }

  .sign-text {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: black;
    padding-top: 5px;
  }

  .log-button {
    margin: 0 auto;
    text-align: center;
    background-color: #636363;
    border-radius: 8px;
    width: 70px;
    height: 30px;
    display: inline-block;
  }
  
  .log-text {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color:white;
    padding-top: 5px;
  }
  
  .build-button {
    text-align: center;
    background-color: #82ca9c;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    margin: 0px;
    display: inline-block;
    margin-top: 20px;
  }
  
  .build-text {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: black;
    padding-top: 13px;
  }

  .center {
    text-align: center;
  }

  .logo {
    height: 40px;
    width: auto;
  }
}

/* tablet */
@media screen and (min-width: 511px) and (max-width: 1000px ) {

}

/* laptops */
@media screen and (min-width: 1001px) and (max-width: 2600px) {
  .logo {
    height: 80px;
    width: auto;
  }
}