.input-group-addon{
    color: black;
    width: 140px;
}
#pushButton{
    color: lightgray;
    background-color: rgb(13, 133, 13);
    height: 40px;
    width: 85%;
    border-radius: 15px;
    font-weight: bold;
    font-size: 24px;
}

body {
    background-image: url('../photos/bg.png');
    background-size: cover; 
  }

  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
    cursor: pointer;
  }
  
  .background-img {
    height: 100%;
    width: 100%;
    opacity: .3;
    position: absolute;
    z-index: -100;
  }
  
  /* HEADER CONTROLS */
  
  .header {
    height: 11%;
    width: 100%;
    background-color: white;
    border-bottom: 1px grey solid;
    position: absolute;
    z-index: 100;
  }
  
  .left {
    margin: 0 auto;
    text-align: left;;
  }
  
  .build-button {
    text-align: center;
    background-color: #82ca9c;
    border-radius: 8px;
    width: 200px;
    height: 55px;
    margin: 16px;
    display: inline-block;
    margin-top: 25px;
  }
  
  .build-text {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: black;
    padding-top: 10px;
  }
  
  .center {
    text-align: center;
  }
  
  .logo {
    height: 100px;
    width: auto;
  }
  
  .right {
    margin: 0 auto;
    text-align: right;
  }
  
  .sign-button {
    text-align: center;
    background-color: #82ca9c;
    border-radius: 8px;
    width: 120px;
    height: 55px;
    margin: 16px;
    display: inline-block;
    margin-top: 25px;
  }
  
  .sign-text {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: black;
    padding-top: 10px;
  }
  
  .log-button {
    text-align: center;
    background-color: #636363;
    border-radius: 8px;
    width: 120px;
    height: 55px;
    margin: 16px;
    display: inline-block;
    margin-top: 25px;
  }
  
  .log-text {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color:white;
    padding-top: 10px;
  }
  
  /* LANDING CONTROLS */
  
  .landing {
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  
  .brandstate {
    margin: 0 auto;
    margin-top: 20%;
    text-align: center;
  }
  
  .brand-text {
    font-size: 65px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
  }
  
  .better {
    color:#82ca9c;
  }
  
  .quote1, .quote2, .quote3 {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }
  
  .quote1 {
    margin: 25px;
    margin-left: 55px;
    position: relative;
    top: 130px;
  }
  
  .quote1-text {
    font-size: 30px;
  }
  
  .quote1-name {
    font-size: 32px;
    position: relative;
    right: 100px;
  }
  
  .quote2 {
    margin: 25px;
    position: relative;
    top: 190px;
  }
  
  .quote2-text {
    font-size: 25px;
  }
  
  .quote2-name {
    font-size: 26px;
    position: relative;
    left: 100px;
  }
  
  .quote3 {
    margin: 25px;
    position: relative;
    top: 160px;
  }
  
  .quote3-text {
    font-size: 25px;
  }
  
  .quote3-name {
    font-size: 26px;
    position: relative;
    left: 200px;
  }
/* spending table and graph */
#spending{
    border-style: solid;
    border-color: gray;
    margin:10% 0 0 5%;
    padding: 10px 15px;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
}
  